

.texte {
  float : right;
  width : 60%;
  height : 200px;
  
  
}

.image {
  float : right;
  width : 20%;
  text-align : center;
  height : 200px;
  
  
}

img {
  width:80%;
  height:80%;
  

  
  
  
 }










.couleur{
	float:left;
	width : 100%;
}

#couleur{
	color : black;
	text-align : justify;
}

.inter_bouton{
	float:left;
	width : 30%;
	height : 200px;
}
.inter_menu{
	float:left;
}
#image{
	float:left;
	width:70%;
	text-align:center;
	height : 200px;
	
	
}
#montrer{
	float:left;
}
#cacher{
	float:left;
}



