body {
  background-color : #fff5d1;
}

h1 {
  color : #162dab;

}


.chapeau {
  float : left ;	
  width : 100%;
  font-size : 32px;
  margin-bottom : 20px;
  
}

.article {
  float : left;
  width : 23.75%;
  text-align : left;
  margin-right : 7px;
  margin-left : 7px;
}

.image{
  height : 200px;
  background-color : #162dab;
  margin-bottom : 20px;
  
}

.description {
  font-size : 20px;

}

img {
  width:100%;
  height:100%;
  mix-blend-mode:hard-light;
  
}

#date {
  color : grey;
}

a {
 color : black;
}

a:link 
{ 
 text-decoration:none; 
}
