

.texte {
  float : right;
  width : 60%;
  height : 200px;
  
}

.image {
  float : left;
  width : 33%;
  text-align : center;
  
 
}

#affichage {
	float :left;
	text-align : center;
	font-size : 50px;
	width : 33%
}

img {
  width:150%;
  height:150%;
  
} 

.couleurs{
	float : left;
	width : 100%;
}

#couleur{
	color : black;
	text-align : justify;
}

.inter_bouton{
	float:left;
	width : 33%;
	height : 200px;
	text-align : center;
}
.inter_menu{
	float:left;
}
#image{
	float:left;
	width:30%;
	text-align:center;
	
	
	
}
#montrer{
	float:left;
}
#cacher{
	float:left;
}



