html,body {
	margin : 0;
	padding : 0;
	width : 100%;
}

#texte {
  float : left;
  
  
  
}

#image {
  float : left;
  width : 30%;
  text-align : center;
  
  
  
}

img {
  width:60%;
  height:60%;
 }











